body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar-inverse {
    background-color: #00c1b7;
}
a {
    color: #00fff2;
}
.navbar-brand,ul.navbar-nav {
    font-weight: bold;
}
*, h1 {
    font-family: 'Ubuntu', sans-serif;
}
.gameList {
    list-style-type: square;
    font-size: 1.2em;
}
.contactinfo{
    line-height: 2em;
    font-size: 1.3em;

}
h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5em;
}
.body-content {
   font-size: 1.1em;
}
th {
    font-size: .9em;
}
a#postit{
    margin-left:auto;
}
textarea .aboutme{
    
    height: 153px;
    width: 482px;
}
#NewCharacterForm{
    display:none;
}
