@{
    ViewBag.Title = "About Developer";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div>
<textarea style=" margin: 5px; height: 150px; width: 400px;">I'm Dustin, an aspiring Developer, learning C#, .NET, SQL, some HTML and CSS at The Iron Yard in Dallas.
   Been a huge gamer all my life.</textarea>
</div>

<a style="margin-left: 110px;" href="/" class="btn btn-primary btn-sm">Post</a>


            
