@{
    ViewBag.Title = "Contact Developer";
}
<h2>@ViewBag.Title.</h2>




<addresss>
    <p class="contactinfo">
    <strong>Email:</strong>dustinburnette7861@hotmail.com<br />
    <strong>GitHub:</strong> <a href="https://github.com/dustinburnette">My GitHub</a><br />
    <strong>LiveSite:</strong> <a href="http://videogamelogger1.gear.host">Video Game Logger</a><br />
    <strong>Slack:</strong> dustinburnette<br />
    <strong>Blog:</strong> <a href="">Follow my blog</a><br />
    <strong>Skype:</strong> dustin_burnette<br />
    <strong>Referral:</strong> <a href="https://www.gearhost.com?refcode=ijxlx99qgfqa">Refer me!</a>

    
    </p>
</addresss>
